<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <entityFramework>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
  
    <connectionStrings>
      <add name="DBConnection" connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Victor\Documents\ChatDatabase.mdf;Integrated Security=True;Connect Timeout=30;"
 providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuthService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/global" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAuthService" contract="ServiceReference.IAuthService"
                name="NetTcpBinding_IAuthService">
                <identity>
                    <userPrincipalName value="DESKTOP-IFFQQC4\Victor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>